<!DOCTYPE html>
<html>
<head>
  <title>Vine Slide</title>
  <meta name="title" content="Vine Slide" />
  <meta description="description" content="Watch the best Vines as a slideshow" />
  <link rel="image_src" href="<%= asset_path('logo-big.png') %>" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <%= render 'layouts/ga' %>
</head>
<body>

<%= yield %>

</body>
</html>
